@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat;

<h2>Delicious Details!</h2>
<hr/>

<h4 class="fancy">Treat Type: @Html.DisplayFor(model => model.Type)</h4>
<h4 class="fancy">Delicious Description: @Html.DisplayFor(model => model.Description)</h4>

<div class="form">
  @if(Model.Flavors.Count == 0)
  {
    <h4>This treat is bland! Tell us what kind of flavor it should have:</h4>
  }
  else
  {
    <ul class="flavors-list">
      @foreach(var join in Model.Flavors)
      {
        <li>@join.Flavor.Type</li>
        @using (Html.BeginForm("DeleteFlavor", "Treats"))
        {
          @Html.Hidden("joinId", @join.FlavorTreatId, @join.FlavorId)
          <button type="submit" class="btn btn-warning join-delete">Delete</button>
        }
      }
    </ul>
  }
    <button class="btn btn-default">@Html.ActionLink("Back to List", "Index")</button>
    <button class="btn btn-default">@Html.ActionLink("Add Flavors", "AddFlavor", new { id = Model.TreatId })</button>
    <button class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.TreatId})</button>
    <button class="btn btn-default">@Html.ActionLink("Delete this Record", "Delete", new { id = Model.TreatId })</button> 
</div>