@{
  Layout = "_Layout";
}

@using Bakery.Models;
@model Bakery.Models.Treat;

<h2>Delicious Details!</h2>
<hr/>

<h4 class="fancy">Treat Type: @Html.DisplayFor(model => model.Type)</h4>
<h4 class="fancy">Delicious Description: @Html.DisplayFor(model => model.Description)</h4>

<div class="form">
  @if(Model.Flavors.Count == 0)
  {
    <h4>This treat is bland! Tell us what kind of flavor it should have:</h4>
    <button class="btn btn-default">@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId})</button>
    <button class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.TreatId})</button>
  }
  else
  {
    <ul class="flavors-list">
      @foreach(var join in Model.Flavors)
      {
        <li>@join.Flavor.Type</li>
        @* DELETE FLAVOR BUTTON GOES HERE *@
      }
    </ul>
    <button class="btn btn-default">@Html.ActionLink("Add more Flavors", "AddFlavor", new { id = Model.TreatId })</button>
    
  }
</div>