<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Library Application</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    @* <link rel="stylesheet" href="~/css/flatly.css"> *@
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
  @* navbar created using bootstrap documentation - need JS plugin to expand collapsed navbar *@
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a>@Html.ActionLink("Home", "Index", "Home")</a></li>
        <li><a>@Html.ActionLink("Create an account or LogIn", "Index", "Account")</a></li>
        <li><a>@Html.ActionLink("View Treats", "Index", "Treats")</a></li>
        <li><a>@Html.ActionLink("View Flavors", "Index", "Flavors")</a></li>
        @if(User.Identity.IsAuthenticated)
        {
          <li><a>@Html.ActionLink("Add Treats", "Create", "Treats")</a></li>
          <li><a>@Html.ActionLink("Add Flavors", "Create", "Flavors")</a></li>
        }
      </ul>
    
      @if(User.Identity.IsAuthenticated)
      {
        @using (Html.BeginForm("LogOff", "Account"))
        {
          <button type="submit" class="btn btn-default log-off">Log Out</button>
        }
      }
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="container">
    @RenderBody()    
  </div>
  <footer>
    <div class="author-cred">
      <p>Homepage photo by Valentina Locatelli on <a href="https://unsplash.com/" target="_blank">Unsplash</a></p>
    </div>
  </footer>
</body>
</html>