@{
  Layout = "_Layout";
}

@using Bakery.Models;
@model Bakery.Models.Flavor;

<h2>Delicious Details!</h2>
<hr/>

<h4 class="fancy">Flavor Type: @Model.Type</h4>

<div class="form">
  @if(@Model.Treats.Count == 0)
  {
    <h4>This flavor doesn't belong to a treat yet! Tell us what kind of tasty treats have this flavor:</h4>
    <button class="btn btn-default">@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId})</button> 
    @* NEED ADD-TREAT VIEW AND CONTROLLERS *@
    <button class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.FlavorId})</button>
    @* NEED EDIT VIEW AND CONTROLLERS *@
  }
  else
  {
    <ul class="treats-list">
      @foreach(var join in Model.Treats)
      {
        <li>@join.Treat.Type</li>
        @* DELETE FLAVOR BUTTON GOES HERE *@
      }
    </ul>
    <button class="btn btn-default">@Html.ActionLink("Add more Treats", "AddTreat", new { id = Model.FlavorId})</button>
    
  }
  <button class="btn btn-default">@Html.ActionLink("Delete this Record", "Delete", new { id = Model.FlavorId })</button>
  <button class="btn btn-default">@Html.ActionLink("Back to List", "Index")</button>
</div>